{% extends 'base.html.twig' %}

{% block body %}
<main>
<div class="breadcumb-area">
  <div class="auto-container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <div class="breadcumb-content">
          <div class="breadcumb-title">
            <h4>Kontakt</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}