{% extends 'base.html.twig' %}

{% block body %}
<main>
<div class="container">
<iframe width="100%" height="900px" src="https://efg-baal.church.tools/?q=churchcal&amp;category_select=2,35,3,1,16,5&amp;embedded=true&amp;viewname=calView#CalView/" class="grace_church_resize trx_addons_resize" ></iframe>
</div>
</main>
{% endblock %}