{% extends 'base.html.twig' %}

{% block body %}
<div class="banner-section-solar-classic">
	<div class="econet-banner-wrapper">
		<div class="econet-slider-height">
			<div class="econet-slider-bg"></div>
			<div class="auto-container">
				<div class="row">
					<div class="col-xl-12">
						<div class="banner-content-wrap">
							<div class="banner-title">
								<h2>Ich bin die Auferstehung <br/>und das Leben.</h2>
							</div>
							<div class="banner-autor-info">
								<p class="autor-desc">- Johannes 11,25</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<main>
	<section class="service-section-solar">
		<div class="auto-container">
			<div class="row align-items-center">
				<div class="col">
					<div class="sec-title">
						<h1 class="title">Willkommen</h1>
						<p>Wir sind eine evangelische Freikirche in Hückelhoven-Baal und laden dich herzlich ein, unsere Gottesdienste und Veranstaltungen zu besuchen.</p>
					</div>
				</div>
			</div>
			<div class="row g-4 my-2">
				{% for event in weekly_events %}
					<div class="col-4">
						<div class="single-service-box">
							<div class="service-thumb two">
								<div class="service-icon two">
									<i class="fa-solid {{event.icon}} fa-3xl"></i>
								</div>
							</div>
							<div class="service-content">
								<h3 class="service-title two">{{ event.name }}</h3>
								<p>{{ event.text }}</p>
								{% if event.link %}
								<a class="service-btn two" href="{{ event.link }}">Mehr erfahren<i class="fa-solid fa-arrow-right-long"></i></a>
								{% endif %}
							</div>
						</div>			
					</div>
				{%endfor%}
			</div>
		</div>
	</section>
	{% if upcoming_events|length > 0 %}
		<section class="joint-event-section-charity" id="event">
			<div class="auto-container">
				<div class="row section-title-space align-items-center">
					<div class="col-lg-6">
						<div class="sec-title">
							<div class="section-title">
								<h1 class="title ">Bevorstehende</h1>
								<h1 class="title ">Veranstaltungen</h1>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="econet-button">
							<a href="/veranstaltungen">Alle Veranstaltungen<i class="fa-solid fa-arrow-right"></i><span></span></a>
						</div>
					</div>
				</div>
				{% include 'components/upcoming_events.html.twig' with { upcoming_events: upcoming_events, show_link: true } %}
			</div>
		</section>
	{% endif %}
</main>
{% endblock %}