{% extends 'base.html.twig' %}

{% block body %}
<div class="banner-section-solar">
  <div class="auto-container">
    <div class="row">
      <div class="col-xl-12">
        <div class="banner-content-wrap">
          <div class="banner-title">
            <h1>Ich bin die Auferstehung<br /> und das Leben.</h1>
          </div>
          <p class="autor-desc">— Johannes 11,25 (Schlachter 2000)</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="latest-blog-section-classic">
  <div class="auto-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title text-center">
          <div class="section-sub-title">
            <h5 class="sub-title"><img src="/assets/images/environment/sub-title-icon.png" alt="sub-icon">Latest Blog</h5>
          </div>
          <div class="section-title">
            <h1 class="title text-anime-3">Read our latest insights from</h1>
            <h1 class="title text-anime-3">Update blog posts</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="single-blog-box">
          <div class="blog-thumb reveal">
            <img src="/assets/images/environment-classic/blog-thumb1.png" alt="thumb">
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="blog-details.html">26 May, 2025</a>
            </div>
            <h3 class="blog-title"><a href="blog-details.html" data-cursor-text="View">Top 5 Eco-Innovations Changing <br> World Right Now</a></h3>
            <div class="blog-autor">
              <a href="blog-details.html">By - <span>John D. Alexon</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="single-blog-box">
          <div class="blog-thumb reveal">
            <img src="/assets/images/environment-classic/blog-thumb2.png" alt="thumb">
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="blog-details.html">26 May, 2025</a>
            </div>
            <h3 class="blog-title"><a href="blog-details.html" data-cursor-text="View">10 Simple ways to live a more <br> Eco friendly life</a></h3>
            <div class="blog-autor">
              <a href="blog-details.html">By - <span>Anjelina Watson</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="single-blog-box">
          <div class="blog-thumb reveal">
            <img src="/assets/images/environment-classic/blog-thumb3.png" alt="thumb">
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="blog-details.html">26 May, 2025</a>
            </div>
            <h3 class="blog-title"><a href="blog-details.html" data-cursor-text="View">How to Install Econet apps on <br> Android and ISO?</a></h3>
            <div class="blog-autor">
              <a href="blog-details.html">By - <span>John D. Alexon</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="brand-area-classic">
  <div class="auto-container">
    <div class="row">
      <div class="swiper band-active">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="col-lg-12">
              <div class="brand-box">
                <div class="brand-thumb">
                  <img src="/assets/images/environment/brand-logo.png" alt="brand img">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="col-lg-12">
              <div class="brand-box">
                <div class="brand-thumb">
                  <img src="/assets/images/environment/brand-logo2.png" alt="brand img">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="col-lg-12">
              <div class="brand-box">
                <div class="brand-thumb">
                  <img src="/assets/images/environment/brand-logo3.png" alt="brand img">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="col-lg-12">
              <div class="brand-box">
                <div class="brand-thumb">
                  <img src="/assets/images/environment/brand-logo4.png" alt="brand img">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="col-lg-12">
              <div class="brand-box">
                <div class="brand-thumb">
                  <img src="/assets/images/environment/brand-logo5.png" alt="brand img">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="col-lg-12">
              <div class="brand-box">
                <div class="brand-thumb">
                  <img src="/assets/images/environment/brand-logo.png" alt="brand img">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="col-lg-12">
              <div class="brand-box">
                <div class="brand-thumb">
                  <img src="/assets/images/environment/brand-logo2.png" alt="brand img">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="col-lg-12">
              <div class="brand-box">
                <div class="brand-thumb">
                  <img src="/assets/images/environment/brand-logo3.png" alt="brand img">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="col-lg-12">
              <div class="brand-box">
                <div class="brand-thumb">
                  <img src="/assets/images/environment/brand-logo4.png" alt="brand img">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="col-lg-12">
              <div class="brand-box">
                <div class="brand-thumb">
                  <img src="/assets/images/environment/brand-logo5.png" alt="brand img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}