{% extends 'base.html.twig' %}

{% block body %}
<div class="banner-section-solar">
  <div class="auto-container">
    <div class="row">
      <div class="col-xl-12">
        <div class="banner-content-wrap">
          <div class="banner-title">
            <h1>Tut Buße und glaubt <br/>an das Evangelium!</h1>
          </div>
          <p class="autor-desc">— Markus 1,15 (Schlachter 2000)</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="services-section-one">
		<div class="container-fulid">
			<div class="row box-row">
				<div class="col-lg-12">
					<div class="sec-title">
						<div class="section-title">
							<h1 class="title text-anime-3">Willkommen</h1>
							<p>Wir sind eine evangelische Freikirche in Hückelhoven-Baal und laden dich herzlich ein, unsere Gottesdienste und Veranstaltungen zu besuchen.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row fade-wrapper">
				<!-- Service box -->
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
					<div class="single-service-box">
						<div class="service-icon">
							<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11 23C10.1 23 9.10003 22.9 8.20003 22.6C7.70003 22.5 7.30003 21.9 7.50003 21.4C7.60003 20.9 8.20003 20.5 8.70003 20.7C11.8 21.5 15.1 20.6 17.4 18.4C20.9 14.9 20.9 9.19997 17.4 5.69998C13.9 2.19998 8.20003 2.19998 4.70003 5.69998C2.40003 7.99997 1.50003 11.3 2.40003 14.4C2.50003 14.9 2.20003 15.5 1.70003 15.6C1.20003 15.7 0.600027 15.4 0.500027 14.9C-0.599973 11.1 0.500026 6.99997 3.20003 4.19998C7.50003 -0.100024 14.5 -0.100024 18.8 4.19998C23.1 8.49997 23.1 15.5 18.8 19.8C16.7 21.9 13.9 23 11 23ZM4.00003 20C3.70003 20 3.50003 19.9 3.30003 19.7C2.90003 19.3 2.90003 18.7 3.30003 18.3L11.6 9.99997H8.00003C7.40003 9.99997 7.00003 9.59997 7.00003 8.99997C7.00003 8.39997 7.40003 7.99997 8.00003 7.99997H14C14.1 7.99997 14.3 7.99998 14.4 8.09998C14.5 8.09998 14.6 8.19998 14.7 8.29997C14.8 8.39997 14.8 8.49998 14.9 8.59998C15 8.69998 15 8.89997 15 8.99997V15C15 15.6 14.6 16 14 16C13.4 16 13 15.6 13 15V11.4L4.70003 19.7C4.50003 19.9 4.30003 20 4.00003 20Z" fill="#0C2318"/>
								</svg>
						</div>
						<div class="service-content">
							<h2 class="service-title">Green Building <br>Solutions</h2>
						</div>
						<div class="service-thumb">
							<figure class="reveal"><img src="/assets/images/environment/service-img.png" alt="service-img"></figure>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
					<div class="single-service-box">
						<div class="service-icon">
							<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11 23C10.1 23 9.10003 22.9 8.20003 22.6C7.70003 22.5 7.30003 21.9 7.50003 21.4C7.60003 20.9 8.20003 20.5 8.70003 20.7C11.8 21.5 15.1 20.6 17.4 18.4C20.9 14.9 20.9 9.19997 17.4 5.69998C13.9 2.19998 8.20003 2.19998 4.70003 5.69998C2.40003 7.99997 1.50003 11.3 2.40003 14.4C2.50003 14.9 2.20003 15.5 1.70003 15.6C1.20003 15.7 0.600027 15.4 0.500027 14.9C-0.599973 11.1 0.500026 6.99997 3.20003 4.19998C7.50003 -0.100024 14.5 -0.100024 18.8 4.19998C23.1 8.49997 23.1 15.5 18.8 19.8C16.7 21.9 13.9 23 11 23ZM4.00003 20C3.70003 20 3.50003 19.9 3.30003 19.7C2.90003 19.3 2.90003 18.7 3.30003 18.3L11.6 9.99997H8.00003C7.40003 9.99997 7.00003 9.59997 7.00003 8.99997C7.00003 8.39997 7.40003 7.99997 8.00003 7.99997H14C14.1 7.99997 14.3 7.99998 14.4 8.09998C14.5 8.09998 14.6 8.19998 14.7 8.29997C14.8 8.39997 14.8 8.49998 14.9 8.59998C15 8.69998 15 8.89997 15 8.99997V15C15 15.6 14.6 16 14 16C13.4 16 13 15.6 13 15V11.4L4.70003 19.7C4.50003 19.9 4.30003 20 4.00003 20Z" fill="#0C2318"/>
								</svg>
						</div>
						<div class="service-content">
							<h2 class="service-title">Ecology Climate<br>Solutions</h2>
						</div>
						<div class="service-thumb">
							<figure class="reveal"><img src="/assets/images/environment/service-img2.png" alt="service-img"></figure>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
					<div class="single-service-box two">
						<div class="service-icon">
							<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11 23C10.1 23 9.10003 22.9 8.20003 22.6C7.70003 22.5 7.30003 21.9 7.50003 21.4C7.60003 20.9 8.20003 20.5 8.70003 20.7C11.8 21.5 15.1 20.6 17.4 18.4C20.9 14.9 20.9 9.19997 17.4 5.69998C13.9 2.19998 8.20003 2.19998 4.70003 5.69998C2.40003 7.99997 1.50003 11.3 2.40003 14.4C2.50003 14.9 2.20003 15.5 1.70003 15.6C1.20003 15.7 0.600027 15.4 0.500027 14.9C-0.599973 11.1 0.500026 6.99997 3.20003 4.19998C7.50003 -0.100024 14.5 -0.100024 18.8 4.19998C23.1 8.49997 23.1 15.5 18.8 19.8C16.7 21.9 13.9 23 11 23ZM4.00003 20C3.70003 20 3.50003 19.9 3.30003 19.7C2.90003 19.3 2.90003 18.7 3.30003 18.3L11.6 9.99997H8.00003C7.40003 9.99997 7.00003 9.59997 7.00003 8.99997C7.00003 8.39997 7.40003 7.99997 8.00003 7.99997H14C14.1 7.99997 14.3 7.99998 14.4 8.09998C14.5 8.09998 14.6 8.19998 14.7 8.29997C14.8 8.39997 14.8 8.49998 14.9 8.59998C15 8.69998 15 8.89997 15 8.99997V15C15 15.6 14.6 16 14 16C13.4 16 13 15.6 13 15V11.4L4.70003 19.7C4.50003 19.9 4.30003 20 4.00003 20Z" fill="#0C2318"/>
								</svg>
						</div>
						<div class="service-content">
							<h2 class="service-title">Renewable Energy<br>Implement</h2>
						</div>
						<div class="service-thumb">
							<figure class="reveal"><img src="/assets/images/environment/service-img3.png" alt="service-img"></figure>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
					<div class="single-service-box two">
						<div class="service-icon">
							<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11 23C10.1 23 9.10003 22.9 8.20003 22.6C7.70003 22.5 7.30003 21.9 7.50003 21.4C7.60003 20.9 8.20003 20.5 8.70003 20.7C11.8 21.5 15.1 20.6 17.4 18.4C20.9 14.9 20.9 9.19997 17.4 5.69998C13.9 2.19998 8.20003 2.19998 4.70003 5.69998C2.40003 7.99997 1.50003 11.3 2.40003 14.4C2.50003 14.9 2.20003 15.5 1.70003 15.6C1.20003 15.7 0.600027 15.4 0.500027 14.9C-0.599973 11.1 0.500026 6.99997 3.20003 4.19998C7.50003 -0.100024 14.5 -0.100024 18.8 4.19998C23.1 8.49997 23.1 15.5 18.8 19.8C16.7 21.9 13.9 23 11 23ZM4.00003 20C3.70003 20 3.50003 19.9 3.30003 19.7C2.90003 19.3 2.90003 18.7 3.30003 18.3L11.6 9.99997H8.00003C7.40003 9.99997 7.00003 9.59997 7.00003 8.99997C7.00003 8.39997 7.40003 7.99997 8.00003 7.99997H14C14.1 7.99997 14.3 7.99998 14.4 8.09998C14.5 8.09998 14.6 8.19998 14.7 8.29997C14.8 8.39997 14.8 8.49998 14.9 8.59998C15 8.69998 15 8.89997 15 8.99997V15C15 15.6 14.6 16 14 16C13.4 16 13 15.6 13 15V11.4L4.70003 19.7C4.50003 19.9 4.30003 20 4.00003 20Z" fill="#0C2318"/>
								</svg>
						</div>
						<div class="service-content">
							<h2 class="service-title">Forest Management<br>Eco-System</h2>
						</div>
						<div class="service-thumb">
							<figure class="reveal"><img src="/assets/images/environment/service-img4.png" alt="service-img"></figure>
						</div>
					</div>
				</div>
			</div>
			<div class="service-shape1">
				<figure><img src="/assets/images/environment/service-shape.png" alt="shape1"></figure>
			</div>
			<div class="service-shape2">
				<figure><img src="/assets/images/environment/service-shape2.png" alt="shape2"></figure>
			</div>
		</div>
	</section>
<div class="latest-blog-section-classic">
  <div class="auto-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title">
          <div class="section-sub-title">
            <h5 class="sub-title"><img src="/assets/images/environment/sub-title-icon.png" alt="sub-icon">Latest Blog</h5>
          </div>
          <div class="section-title">
            <h1 class="title text-anime-3">Read our latest insights from</h1>
            <h1 class="title text-anime-3">Update blog posts</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="single-blog-box">
          <div class="blog-thumb reveal">
            <img src="/assets/images/environment-classic/blog-thumb1.png" alt="thumb">
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="blog-details.html">26 May, 2025</a>
            </div>
            <h3 class="blog-title"><a href="blog-details.html" data-cursor-text="View">Top 5 Eco-Innovations Changing <br> World Right Now</a></h3>
            <div class="blog-autor">
              <a href="blog-details.html">By - <span>John D. Alexon</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="single-blog-box">
          <div class="blog-thumb reveal">
            <img src="/assets/images/environment-classic/blog-thumb2.png" alt="thumb">
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="blog-details.html">26 May, 2025</a>
            </div>
            <h3 class="blog-title"><a href="blog-details.html" data-cursor-text="View">10 Simple ways to live a more <br> Eco friendly life</a></h3>
            <div class="blog-autor">
              <a href="blog-details.html">By - <span>Anjelina Watson</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="single-blog-box">
          <div class="blog-thumb reveal">
            <img src="/assets/images/environment-classic/blog-thumb3.png" alt="thumb">
          </div>
          <div class="blog-content">
            <div class="blog-meta">
              <a href="blog-details.html">26 May, 2025</a>
            </div>
            <h3 class="blog-title"><a href="blog-details.html" data-cursor-text="View">How to Install Econet apps on <br> Android and ISO?</a></h3>
            <div class="blog-autor">
              <a href="blog-details.html">By - <span>John D. Alexon</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
	<section class="joint-event-section-charity" id="event">
		<div class="auto-container">
			<div class="row section-title-space align-items-center">
				<div class="col-lg-6">
						<div class="sec-title">
							<div class="section-sub-title">
								<h5 class="sub-title"><img src="/assets/images/environment/sub-title-icon.png" alt="sub-icon">Events</h5>
							</div>
							<div class="section-title">
								<h1 class="title title-anim">Kommende</h1>
								<h1 class="title title-anim">Veranstaltungen</h1>
							</div>
						</div>
					</div>
				<div class="col-lg-6">
					<div class="econet-button">
            <a href="index.html">Alle Veranstaltungen<i class="fa-solid fa-arrow-right"></i><span></span></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
        {% for event in ['event1', 'event2'] %}
					<div class="joint-event-box">
						<div class="event-inner-box first">
							<div class="joint-event-date">
								<h1>16</h1>
							</div>
							<div class="joint-event-month">
								<h5>AUGUST</h5>
								<p>2025</p>
							</div>
						</div>
						<div class="event-inner-box">
							<div class="event-content">
								<div class="event-title">
									<h3><a href="event-details.html">Food Supply for Orphan <br>People - 2025</a></h3>
								</div>
							</div>
						</div>
						<div class="event-inner-box">
							<div class="event-location">
								<ul>
									<li><img src="/assets/images/charity/event-icon1.png" alt="icon">10/B Rd, Sandigo - USA</li>
									<li><img src="/assets/images/charity/event-icon2.png" alt="icon">10.30 am to 12.00 pm</li>
								</ul>
							</div>
						</div>
						<div class="joint-event-btn">
							<a href="event-details.html">Mehr erfahren<i class="fa-solid fa-arrow-right-long"></i></a>
						</div>
					</div>
          {% endfor %}
				</div>
			</div>
		</div>
		<div class="event-shape">
			<img src="/assets/images/charity/charity-event-shape.png" alt="event shape">
		</div>
		<div class="event-shape2">
			<img src="/assets/images/charity/event-shape2.png" alt="event shape">
		</div>
	</section>
{% endblock %}