{% extends 'base.html.twig' %}

{% block body %}
<div class="banner-section-solar-classic">
	<div class="econet-banner-wrapper">
		<div class="econet-slider-height">
			<div class="econet-slider-bg"></div>
			<div class="auto-container">
				<div class="row">
					<div class="col-xl-12">
						<div class="banner-content-wrap">
							<div class="banner-title">
								<h2>Tut Buße und glaubt an das Evangelium!</h2>
							</div>
							<div class="banner-autor-info">
								<p class="autor-desc">- Markus 1,15</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<main>
	<section class="service-section-solar">
		<div class="auto-container">
			<div class="row align-items-center">
				<div class="col">
					<div class="sec-title">
						<h1 class="title">Willkommen</h1>
						<p>Wir sind eine evangelische Freikirche in Hückelhoven-Baal und laden dich herzlich ein, unsere Gottesdienste und Veranstaltungen zu besuchen.</p>
					</div>
				</div>
			</div>
			<div class="row">
				{% for event in weekly_events %}
					<div class="col-4">
						<div class="single-service-box">
							<div class="service-thumb two">
								<div class="service-icon two">
									<img src="/assets/images/solar/service-icon4.png" alt="icon">
								</div>
							</div>
							<div class="service-content">
								<h3 class="service-title two">Wind Financing Plans</h3>
								<p>Environmental organizations maintaince
								dedicated to protecting</p>
								{% if event.link %}
								<a class="service-btn two" href="service-details.html">Explore More<i class="fa-solid fa-arrow-right-long"></i></a>
								{% endif %}
							</div>
						</div>			
					</div>
				{%endfor%}
			</div>
		</div>
	</section>
	<section class="joint-event-section-charity" id="event">
		<div class="auto-container">
			<div class="row section-title-space align-items-center">
				<div class="col-lg-6">
						<div class="sec-title">
							<div class="section-title">
								<h1 class="title title-anim">Kommende</h1>
								<h1 class="title title-anim">Veranstaltungen</h1>
							</div>
						</div>
					</div>
				<div class="col-lg-6">
					<div class="econet-button">
						<a href="index.html">Alle Veranstaltungen<i class="fa-solid fa-arrow-right"></i><span></span></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
				{% for event in ['event1', 'event2'] %}
					<div class="joint-event-box">
						<div class="event-inner-box first">
							<div class="joint-event-date">
								<h1>16</h1>
							</div>
							<div class="joint-event-month">
								<h5>AUGUST</h5>
								<p>2025</p>
							</div>
						</div>
						<div class="event-inner-box">
							<div class="event-content">
								<div class="event-title">
									<h3><a href="event-details.html">Food Supply for Orphan <br>People - 2025</a></h3>
								</div>
							</div>
						</div>
						<div class="event-inner-box">
							<div class="event-location">
								<ul>
									<li><img src="/assets/images/charity/event-icon1.png" alt="icon">10/B Rd, Sandigo - USA</li>
									<li><img src="/assets/images/charity/event-icon2.png" alt="icon">10.30 am to 12.00 pm</li>
								</ul>
							</div>
						</div>
						<div class="joint-event-btn">
							<a href="event-details.html">Mehr erfahren<i class="fa-solid fa-arrow-right-long"></i></a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}